html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#heading{
    color: red;
    text-align: center;
}
.title{
    color: green;
    text-align: left;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f1f1;
    height: auto;
}
.logo-img{
    width: 120px;
    height: auto;
}
.nav-items ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.nav-items ul li{
    margin: 0 10px;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}
.body{
    padding: 40px;
}
.restaurant-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.restaurant-card{
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 200px;
}
.restaurant-card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}
.shimmer-wrapper{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}
.shimmer-card{
    width: 200px;
    height: 300px;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background: linear-gradient(90deg, #f6f7f8 25%, #eee 50%, #f6f7f8 75%);
    animation: shimmer 1.5s infinite;
}
@keyframes shimmer {
    0% {
        background-position: -150px 0;
    }
    100% {
        background-position: 150px 0;
    }
}

.filter-btn{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.search{
    margin: 20px;
    text-align: center;
}
.search input{
    padding: 8px;
    font-size: 14px;
    border: 1px solid rgb(0 0 0 / 19%);
    border-radius: 4px;
}
.restaurant-image{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.user-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}